*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container
{
  margin:10px 10px;
  border:2px solid black; 
  display:flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
}
.book
{
  border: 2px solid black;
  padding:10px;
}
.book img
{
  height:300px;
}
.book img{
  font-size: 1.5rem;
}
.book button{
  font-style: oblique;
color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:burlywood;
}